@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #34c759;
  --color-black: #121212;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
}